body {
    margin: 10px;
    font-family: 'Lucida Console';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
}
li {
    float: left;

}

li a{
    display: block;
    padding: 16px;
    text-decoration: none;
}