.btn-trans {
  min-width: 150px;
}
.produk {
  width: 20%;
  float: left;
}

a {
  text-decoration: none;
}

.beli {
  width: 20%;
  float: left;
}
@media screen and (max-width: 641px) {
  .produk {
    width: 43%;
    float: left;
  }

  .beli {
    width: 20%;
    float: left;
  }
}
