body {
  font-size: 10pt;
  font-family: sans-serif;
}
.w3-tangerine {
  font-family: 'Tangerine', serif;
}
a {
  text-decoration: none;
}
.no_use {
  z-index: 10;
  background-color: #ddd;
  color: black;
  text-align: center;
  height: 24px;
}
.mySlides {
  display:none;
}
