body {
  margin: 0;
  font-family: sans-serif;
  background-attachment: fixed;
  background-image: url("/yudhaprasetya.github.io/tokodewi.com/img/bg-web-dewi.png");
  background-size: 100% 100%;
}

.topnav {
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.topnav a {
  display: block;
  float: left;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.title {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  padding: 48px;
}

.img_menu {
  color: white;

}

p {
  font-size: 38px;
}
img {
  margin-right: 20px;
  margin-left: 20px;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
}
